#!/bin/bash

# This script will be executed in case the lock file already exists.
# 
# In this example we will call a Discord webhook URL to alert us that the sync might be very slow or stuck,
# But of course you can modify this script to fit your needs!



# Configuration
BACKUP_NAME="ServerName Daily - RemoteServerName"
WEBHOOK_URL="https://discord.com/api/webhooks/WEBHOOK_ID/WEBHOOK_TOKEN"


TIMESTAMP=$(date -u +"%Y-%m-%dT%H:%M:%SZ")

curl -X POST \
-H "Content-Type: application/json" \
-d '{
  "username": "Docker Restic Backup",
  "embeds": [
    {
      "title": "Backup Failed",
      "description": "The lock file already exists, another sync might still running.",
      "color": 16711680,
      "fields": [
        {
          "name": "Backup Name",
          "value": "'"${BACKUP_NAME}"'",
          "inline": true
        },
        {
          "name": "Timestamp",
          "value": "'"${TIMESTAMP}"'",
          "inline": true
        }
      ],
      "footer": {
        "text": "Docker Restic Backup"
      },
      "timestamp": "'"${TIMESTAMP}"'"
    }
  ]
}' \
"$WEBHOOK_URL"
