# How often it should make a backup to the remote backup host
# The interval is written in the CRON format
#
# Tip: You can use this tool to make it easier: https://crontab.guru/
BACKUP_CRON_INTERVAL="0 1 * * *"

# How often it should run a health check on the Restic repository
# The interval is written in the CRON format
HEALTH_CHECK_CRON_INTERVAL="0 4 * * 0"

# Set this to true to prevent backups from being made
# Can be used when you are restoring a large amount of data that might interfere with the backup CRON
#
# WARNING: As usual, don't forget to rebuild the container to apply your changes!
BACKUP_KILL_SWITCH=false



# IP address of the remote SFTP backup host
SFTP_HOST_IP="XXX.XXX.XXX.XXX"

# Port number that is configured for SFTP on the remote backup host
SFTP_HOST_PORT=22

# Username that will be used to authenticate with the remote server
SFTP_HOST_USERNAME="backup_user"

# Filename of the SSH key that will be used to authenticate with the remote server
# We will look inside the ./config/ssh directory for this filename
#
# This should be your private key, not your public key (ending with .pub)
SFTP_HOST_SSH_KEY_NAME="id_rsa"

# Full path to the desired location of the backup on the remote server
SFTP_HOST_DESTINATION_PATH="/mnt/backup_drive/docker-remote-backup-data"



# The directory that will be mounted as `/data` in the container
# This will be mounted as read-only for extra security
#
# If you want to exclude certain files or directories
# Use the exclude file functionality, see README for instructions
BACKUP_DIRECTORY="/mnt/main_drive/backup"

# Password that will be used to encrypt/decrypt the Restic repository
REPOSITORY_PASSWORD=""
